/build
/src/main/assets/config/out/types/Ability.json
/src/main/assets/config/out/types/Accelerator.json
/src/main/assets/config/out/types/ArmorPlateAbility.json
/src/main/assets/config/out/types/ArtilleryBulletType.json
/src/main/assets/config/out/types/AttributeCrafter.json
/src/main/assets/config/out/types/AutoDoor.json
/src/main/assets/config/out/types/BaseShield.json
/src/main/assets/config/out/types/BaseTurret.json
/src/main/assets/config/out/types/BasicBulletType.json
/src/main/assets/config/out/types/Battery.json
/src/main/assets/config/out/types/BeamDrill.json
/src/main/assets/config/out/types/BeamNode.json
/src/main/assets/config/out/types/Block.json
/src/main/assets/config/out/types/BufferedItemBridge.json
/src/main/assets/config/out/types/BuildTurret.json
/src/main/assets/config/out/types/BulletType.json
/src/main/assets/config/out/types/BurstDrill.json
/src/main/assets/config/out/types/CanvasBlock.json
/src/main/assets/config/out/types/CellLiquid.json
/src/main/assets/config/out/types/CharacterOverlay.json
/src/main/assets/config/out/types/Cliff.json
/src/main/assets/config/out/types/ColoredFloor.json
/src/main/assets/config/out/types/ColoredWall.json
/src/main/assets/config/out/types/Conduit.json
/src/main/assets/config/out/types/Constructor.json
/src/main/assets/config/out/types/ConsumeGenerator.json
/src/main/assets/config/out/types/ContinuousBulletType.json
/src/main/assets/config/out/types/ContinuousFlameBulletType.json
/src/main/assets/config/out/types/ContinuousLaserBulletType.json
/src/main/assets/config/out/types/ContinuousLiquidTurret.json
/src/main/assets/config/out/types/ContinuousTurret.json
/src/main/assets/config/out/types/Conveyor.json
/src/main/assets/config/out/types/CoreBlock.json
/src/main/assets/config/out/types/DirectionalForceProjector.json
/src/main/assets/config/out/types/DirectionalUnloader.json
/src/main/assets/config/out/types/DirectionBridge.json
/src/main/assets/config/out/types/DirectionLiquidBridge.json
/src/main/assets/config/out/types/Door.json
/src/main/assets/config/out/types/DrawArcSmelt.json
/src/main/assets/config/out/types/DrawBlockParts.json
/src/main/assets/config/out/types/DrawBlurSpin.json
/src/main/assets/config/out/types/DrawBubbles.json
/src/main/assets/config/out/types/DrawCells.json
/src/main/assets/config/out/types/DrawCircles.json
/src/main/assets/config/out/types/DrawCrucibleFlame.json
/src/main/assets/config/out/types/DrawCultivator.json
/src/main/assets/config/out/types/DrawFade.json
/src/main/assets/config/out/types/DrawFlame.json
/src/main/assets/config/out/types/DrawFrames.json
/src/main/assets/config/out/types/DrawGlowRegion.json
/src/main/assets/config/out/types/DrawHeatInput.json
/src/main/assets/config/out/types/DrawHeatOutput.json
/src/main/assets/config/out/types/DrawHeatRegion.json
/src/main/assets/config/out/types/DrawLiquidOutputs.json
/src/main/assets/config/out/types/DrawLiquidRegion.json
/src/main/assets/config/out/types/DrawLiquidTile.json
/src/main/assets/config/out/types/DrawMulti.json
/src/main/assets/config/out/types/DrawMultiWeave.json
/src/main/assets/config/out/types/DrawParticles.json
/src/main/assets/config/out/types/DrawPistons.json
/src/main/assets/config/out/types/DrawPlasma.json
/src/main/assets/config/out/types/DrawPower.json
/src/main/assets/config/out/types/DrawPulseShape.json
/src/main/assets/config/out/types/DrawPumpLiquid.json
/src/main/assets/config/out/types/DrawRegion.json
/src/main/assets/config/out/types/DrawShape.json
/src/main/assets/config/out/types/DrawSideRegion.json
/src/main/assets/config/out/types/DrawSoftParticles.json
/src/main/assets/config/out/types/DrawSpikes.json
/src/main/assets/config/out/types/DrawTurret.json
/src/main/assets/config/out/types/DrawWarmupRegion.json
/src/main/assets/config/out/types/DrawWeave.json
/src/main/assets/config/out/types/Drill.json
/src/main/assets/config/out/types/DroneCenter.json
/src/main/assets/config/out/types/Duct.json
/src/main/assets/config/out/types/DuctBridge.json
/src/main/assets/config/out/types/DuctJunction.json
/src/main/assets/config/out/types/DuctRouter.json
/src/main/assets/config/out/types/Effect.json
/src/main/assets/config/out/types/EmpBulletType.json
/src/main/assets/config/out/types/EnergyFieldAbility.json
/src/main/assets/config/out/types/ExplosionEffect.json
/src/main/assets/config/out/types/FireBulletType.json
/src/main/assets/config/out/types/FlakBulletType.json
/src/main/assets/config/out/types/Floor.json
/src/main/assets/config/out/types/ForceFieldAbility.json
/src/main/assets/config/out/types/ForceProjector.json
/src/main/assets/config/out/types/Fracker.json
/src/main/assets/config/out/types/GenericCrafter.json
/src/main/assets/config/out/types/HeatConductor.json
/src/main/assets/config/out/types/HeatCrafter.json
/src/main/assets/config/out/types/HeaterGenerator.json
/src/main/assets/config/out/types/HeatProducer.json
/src/main/assets/config/out/types/ImpactReactor.json
/src/main/assets/config/out/types/Incinerator.json
/src/main/assets/config/out/types/Item.json
/src/main/assets/config/out/types/ItemBridge.json
/src/main/assets/config/out/types/ItemIncinerator.json
/src/main/assets/config/out/types/ItemSource.json
/src/main/assets/config/out/types/ItemTurret.json
/src/main/assets/config/out/types/Junction.json
/src/main/assets/config/out/types/LandingPad.json
/src/main/assets/config/out/types/LaserBoltBulletType.json
/src/main/assets/config/out/types/LaserBulletType.json
/src/main/assets/config/out/types/LaserTurret.json
/src/main/assets/config/out/types/LaunchPad.json
/src/main/assets/config/out/types/LightBlock.json
/src/main/assets/config/out/types/Liquid.json
/src/main/assets/config/out/types/LiquidBlock.json
/src/main/assets/config/out/types/LiquidBulletType.json
/src/main/assets/config/out/types/LiquidExplodeAbility.json
/src/main/assets/config/out/types/LiquidRegenAbility.json
/src/main/assets/config/out/types/LiquidRouter.json
/src/main/assets/config/out/types/LiquidSource.json
/src/main/assets/config/out/types/LiquidTurret.json
/src/main/assets/config/out/types/LogicBlock.json
/src/main/assets/config/out/types/LogicDisplay.json
/src/main/assets/config/out/types/LongPowerNode.json
/src/main/assets/config/out/types/MassDriver.json
/src/main/assets/config/out/types/MemoryBlock.json
/src/main/assets/config/out/types/MendProjector.json
/src/main/assets/config/out/types/MessageBlock.json
/src/main/assets/config/out/types/MoveEffectAbility.json
/src/main/assets/config/out/types/MoveLightningAbility.json
/src/main/assets/config/out/types/MultiBulletType.json
/src/main/assets/config/out/types/MultiEffect.json
/src/main/assets/config/out/types/NuclearReactor.json
/src/main/assets/config/out/types/OverdriveProjector.json
/src/main/assets/config/out/types/OverflowDuct.json
/src/main/assets/config/out/types/OverflowGate.json
/src/main/assets/config/out/types/ParticleEffect.json
/src/main/assets/config/out/types/ParticleWeather.json
/src/main/assets/config/out/types/PayloadAmmoTurret.json
/src/main/assets/config/out/types/PayloadBlock.json
/src/main/assets/config/out/types/PayloadConveyor.json
/src/main/assets/config/out/types/PayloadDeconstructor.json
/src/main/assets/config/out/types/PayloadLoader.json
/src/main/assets/config/out/types/PayloadMassDriver.json
/src/main/assets/config/out/types/PayloadRouter.json
/src/main/assets/config/out/types/PayloadUnloader.json
/src/main/assets/config/out/types/PayloadVoid.json
/src/main/assets/config/out/types/PointBulletType.json
/src/main/assets/config/out/types/PointDefenseBulletWeapon.json
/src/main/assets/config/out/types/PointDefenseTurret.json
/src/main/assets/config/out/types/PointDefenseWeapon.json
/src/main/assets/config/out/types/PointLaserBulletType.json
/src/main/assets/config/out/types/PowerDiode.json
/src/main/assets/config/out/types/PowerGenerator.json
/src/main/assets/config/out/types/PowerNode.json
/src/main/assets/config/out/types/PowerSource.json
/src/main/assets/config/out/types/PowerTurret.json
/src/main/assets/config/out/types/Prop.json
/src/main/assets/config/out/types/Pump.json
/src/main/assets/config/out/types/Radar.json
/src/main/assets/config/out/types/RadialEffect.json
/src/main/assets/config/out/types/RailBulletType.json
/src/main/assets/config/out/types/RainWeather.json
/src/main/assets/config/out/types/Reconstructor.json
/src/main/assets/config/out/types/RegenAbility.json
/src/main/assets/config/out/types/RegenProjector.json
/src/main/assets/config/out/types/ReloadTurret.json
/src/main/assets/config/out/types/RepairBeamWeapon.json
/src/main/assets/config/out/types/RepairFieldAbility.json
/src/main/assets/config/out/types/RepairTower.json
/src/main/assets/config/out/types/RepairTurret.json
/src/main/assets/config/out/types/Router.json
/src/main/assets/config/out/types/RuneOverlay.json
/src/main/assets/config/out/types/SapBulletType.json
/src/main/assets/config/out/types/SeaBush.json
/src/main/assets/config/out/types/SectorPreset.json
/src/main/assets/config/out/types/Separator.json
/src/main/assets/config/out/types/SeqEffect.json
/src/main/assets/config/out/types/ShallowLiquid.json
/src/main/assets/config/out/types/ShieldArcAbility.json
/src/main/assets/config/out/types/ShieldRegenFieldAbility.json
/src/main/assets/config/out/types/ShieldWall.json
/src/main/assets/config/out/types/ShockMine.json
/src/main/assets/config/out/types/ShockwaveTower.json
/src/main/assets/config/out/types/ShrapnelBulletType.json
/src/main/assets/config/out/types/SingleBlockProducer.json
/src/main/assets/config/out/types/SolidPump.json
/src/main/assets/config/out/types/Sorter.json
/src/main/assets/config/out/types/SoundEffect.json
/src/main/assets/config/out/types/SpaceLiquidBulletType.json
/src/main/assets/config/out/types/SpawnDeathAbility.json
/src/main/assets/config/out/types/StackConveyor.json
/src/main/assets/config/out/types/StackRouter.json
/src/main/assets/config/out/types/StaticWall.json
/src/main/assets/config/out/types/StatusEffect.json
/src/main/assets/config/out/types/StatusFieldAbility.json
/src/main/assets/config/out/types/SteamVent.json
/src/main/assets/config/out/types/StorageBlock.json
/src/main/assets/config/out/types/SuppressionFieldAbility.json
/src/main/assets/config/out/types/SwitchBlock.json
/src/main/assets/config/out/types/TallBlock.json
/src/main/assets/config/out/types/ThermalGenerator.json
/src/main/assets/config/out/types/Thruster.json
/src/main/assets/config/out/types/TileableLogicDisplay.json
/src/main/assets/config/out/types/TiledFloor.json
/src/main/assets/config/out/types/TiledWall.json
/src/main/assets/config/out/types/TractorBeamTurret.json
/src/main/assets/config/out/types/TreeBlock.json
/src/main/assets/config/out/types/Turret.json
/src/main/assets/config/out/types/UnitAssembler.json
/src/main/assets/config/out/types/UnitAssemblerModule.json
/src/main/assets/config/out/types/UnitCargoLoader.json
/src/main/assets/config/out/types/UnitCargoUnloadPoint.json
/src/main/assets/config/out/types/UnitFactory.json
/src/main/assets/config/out/types/UnitSpawnAbility.json
/src/main/assets/config/out/types/UnitType.json
/src/main/assets/config/out/types/Unloader.json
/src/main/assets/config/out/types/VariableReactor.json
/src/main/assets/config/out/types/Wall.json
/src/main/assets/config/out/types/WallCrafter.json
/src/main/assets/config/out/types/WaveEffect.json
/src/main/assets/config/out/types/Weapon.json
/src/main/assets/config/out/types/Weather.json
/src/main/assets/config/out/types/WobbleProp.json
/src/main/assets/config/out/types/WrapEffect.json
